body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('http://orig08.deviantart.net/b8c1/f/2015/322/d/d/led_light_up_dance_floor_by_winampers_pro-d9h4lzl.jpg');
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addRaccoonButton, .addSpidermanButton, .addBatmanButton, .lineUp, .disperse, .crazy, .enlarge{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.animal{
  width: 200px;
  height: 150px;
  transition: top 2s, left 2s;
}
.superhero{
  transition: all 3s linear;
}
.spiderman{
  width: 200px;
  height: 150px;
  position:absolute;
}
.batman{
  border:2px;
  width: 150px;
  height: 100px;
  transform: scale(2.0);
}
.batman:hover{
  transform: scale(-2.0);
}
